In [1]:
import pandas as pd

# 1.DATOS BULK

In [2]:
bulk_datos="/home/franciscojavier/Escritorio/TFG/scDEAL/data/ALL_expression.csv"
Bulk= pd.read_csv(bulk_datos, index_col=0)

In [3]:
Bulk.head()

,ST3GAL2,NOTCH2,GRPEL1,SHC2,MAGEA8,GNA14,KRTCAP2,CEP44,EHD2,UTP14C,...,CIAPIN1,PPFIA4,EPPK1,PSPC1,SLC30A2,RNF13,LAMC1,PITX3,SNX24,IL17RE
DATA.683665,5.144679,3.223748,8.473993,3.367309,3.228205,2.980778,8.523072,3.568470,3.205451,6.173123,...,5.794856,3.115977,3.236775,4.614050,3.334627,8.512252,5.454001,3.579842,3.719559,3.208217
DATA.683667,4.891309,4.978066,8.965003,7.597621,2.939119,3.127610,9.164316,3.226157,3.594308,4.838035,...,5.429998,3.165675,3.293903,3.833966,3.115850,9.187912,7.297341,3.350470,6.678025,3.106149
DATA.684052,4.185672,4.580091,8.342951,3.454799,2.940054,3.842441,8.715775,3.509050,2.943156,5.688459,...,6.166544,3.070921,4.455511,4.108411,3.080420,7.986220,7.260711,3.123496,4.627073,3.088657
DATA.684057,4.103474,4.681022,7.894892,6.939582,3.098473,4.450950,9.803396,3.732709,2.991773,6.523652,...,5.617250,3.318546,8.393024,3.945185,3.074119,8.615635,6.793222,3.177603,4.703124,3.081756
DATA.684059,4.564867,4.076783,8.136921,7.620565,3.111922,6.328582,8.801057,3.633442,3.264081,6.073701,...,5.948226,3.203330,3.278578,3.672100,3.171120,8.673449,6.673377,3.496695,5.829292,3.210553

In [4]:
print(f"El archivo tiene {Bulk.shape[0]} filas y {Bulk.shape[1]} columnas.")

El archivo tiene 1280 filas y 15962 columnas.

In [5]:
print(f"Número de genes: {Bulk.shape[1]}")
print(f"Número de muestras: {Bulk.shape[0]}")
print("Primeros 5 genes:", Bulk.columns[:5].tolist())

Número de genes: 15962
Número de muestras: 1280
Primeros 5 genes: ['ST3GAL2', 'NOTCH2', 'GRPEL1', 'SHC2', 'MAGEA8']

# 2.CALCULAMOS VARIANZA

In [6]:
varianzas = Bulk.var(axis=0)  # varianza por columna (gen)
print(varianzas)

ST3GAL2    0.892848
NOTCH2     0.813878
GRPEL1     2.395445
SHC2       3.767519
MAGEA8     2.661780
             ...
RNF13      4.454409
LAMC1      2.325935
PITX3      2.773513
SNX24      1.557141
IL17RE     1.291969
Length: 15962, dtype: float64

In [7]:
top_20_porcentaje = int(len(varianzas) * 0.2) #Filtramos el top 20
genes_top = varianzas.sort_values(ascending=False).head(top_20_porcentaje).index
df_top_genes = Bulk[genes_top]

In [8]:
print(f"Genes seleccionados: {df_top_genes.shape[1]} de {Bulk.shape[1]} originales")

Genes seleccionados: 3192 de 15962 originales

In [9]:
df_top_genes.head()

,RPS4Y1,KRT19,VIM,S100P,EEF1A1,RPL18A,TACSTD2,RPS18,BASP1,RPS19,...,RAET1G,IGFL3,ANGPT1,RRP1B,C2ORF42,IFNGR1,TCEAL5,DUSP11,GNA11,MFSD6
DATA.683665,10.744227,3.405941,12.085272,3.336260,4.922896,3.062681,3.496972,4.855941,5.697826,4.038713,...,4.280225,3.394853,3.002283,8.001636,6.736740,7.831898,3.023507,7.876978,4.013298,7.270762
DATA.683667,12.410156,4.226230,11.661481,5.922569,6.533475,3.113093,3.027207,4.680126,5.011485,4.045782,...,3.581134,3.379538,3.001898,8.308363,6.997331,7.443246,3.019110,7.700416,8.309896,4.358078
DATA.684052,3.374015,4.032691,12.671484,3.477540,5.551361,2.892388,2.832211,3.884602,11.453684,3.944376,...,3.144730,3.307964,3.387063,7.957953,6.356331,6.905754,3.405001,7.464873,8.508063,4.455841
DATA.684057,12.822256,3.091820,10.667924,3.595975,5.277746,2.932124,2.932878,4.880253,9.359950,3.950865,...,3.840384,3.390363,2.994032,8.219939,6.465303,8.016595,4.280432,7.801002,7.849750,3.848845
DATA.684059,3.320986,3.492342,12.870585,4.567399,5.819835,2.982949,2.923305,3.888214,10.924775,3.717019,...,3.285166,3.518197,3.736578,7.958470,6.950287,8.002485,3.412617,6.972215,8.140381,4.290012

# 3.MAPEAR A RATÓN

In [10]:
#pip install mygene
import mygene
# Lista de genes humanos que quieres mapear 
genes_humanos = list(df_top_genes.columns)  # por ejemplo si tu DataFrame ya está filtrado

In [11]:
#Inicializamos
mg = mygene.MyGeneInfo()
# Buscar ortólogos en ratón
resultados = mg.querymany(genes_humanos, scopes='symbol', fields='ensembl.gene', species='mouse')

Input sequence provided is already in string format. No operation performed
Input sequence provided is already in string format. No operation performed
5 input query terms found dup hits:	[('EPPK1', 2), ('ST6GALNAC2', 2), ('MAGEF1', 2), ('NNT', 2), ('LCN15', 2)]
305 input query terms found no hit:	['RPS4Y1', 'S100P', 'C19ORF33', 'CLEC2B', 'HNRNPA1L2', 'HLA-DPA1', 'HLA-DRA', 'AKR1C1', 'AKR1C3', 'A

In [12]:
mapeo = {}
for r in resultados: #MApeamos solo aquellos q tiene 1 solo homologo en raton , los demas los descartamos que son los de la celda de arriba
    if 'notfound' not in r and 'ensembl' in r:
        # Puede haber uno o varios resultados (lista o dict)
        if isinstance(r['ensembl'], list):
            mapeo[r['query']] = r['ensembl'][0]['gene']
        else:
            mapeo[r['query']] = r['ensembl']['gene']

In [13]:
print(f"Genes mapeados: {len(mapeo)} de {len(genes_humanos)}")

Genes mapeados: 2883 de 3192

In [14]:
for humano, raton in list(mapeo.items())[:10]:
    print(f"{humano}  →  {raton}")

KRT19  →  ENSMUSG00000020911
VIM  →  ENSMUSG00000026728
EEF1A1  →  ENSMUSG00000037742
RPL18A  →  ENSMUSG00000045128
TACSTD2  →  ENSMUSG00000051397
RPS18  →  ENSMUSG00000008668
BASP1  →  ENSMUSG00000045763
RPS19  →  ENSMUSG00000040952
SRGN  →  ENSMUSG00000020077
UCHL1  →  ENSMUSG00000029223

In [27]:
genes_raton_bulk = list(mapeo.values())

# SINGLE CELL

In [51]:
ruta_single_cell="/home/franciscojavier/Escritorio/TFG/scDEAL/data/GSE110894/GSE110894.csv"
Single_cell= pd.read_csv(ruta_single_cell,index_col=0)

In [52]:
Single_cell.head()

,RPI1_A3,RPI1_A4,RPI1_A5,RPI1_A6,RPI1_A7,RPI1_A8,RPI1_A9,RPI1_A10,RPI1_A11,RPI1_A12,...,RPI7_P13,RPI7_P14,RPI7_P15,RPI7_P16,RPI7_P17,RPI7_P18,RPI7_P19,RPI7_P20,RPI7_P21,RPI7_P22
gene_id,,,,,,,,,,,,,,,,,,,,,
ENSMUSG00000110331,3,5,5,6,5,2,4,10,10,1,...,0,6,5,1,5,4,3,3,0,4
ENSMUSG00000006281,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0
ENSMUSG00000040726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
ENSMUSG00000024829,1,2,0,0,1,3,1,1,3,1,...,0,0,1,0,1,1,2,0,0,1
ENSMUSG00000029007,1,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [53]:
print(f"El archivo tiene {Single_cell.shape[0]} filas y {Single_cell.shape[1]} columnas.")

El archivo tiene 25921 filas y 1504 columnas.

In [81]:
genes_raton_sc = list(Single_cell.index)

In [58]:
genes_comunes = list(set(genes_raton_bulk) & set(genes_raton_sc))

In [59]:
print(f"Genes comunes encontrados: {len(genes_comunes)}")

Genes comunes encontrados: 2100

In [61]:
genes_comunes.sort()

# FILTRAMOS DATOS BULK

In [63]:
mapeo_inverso = {v: k for k, v in mapeo.items()}

In [64]:
genes_comunes.sort()
genes_humanos_ordenados = [mapeo_inverso[ensm] for ensm in genes_comunes if ensm in mapeo_inverso]

In [65]:
df_bulk_humano_ordenado = Bulk[genes_humanos_ordenados]

In [66]:
df_bulk_humano_ordenado.head()

,GNAI3,APOH,CAV2,TBX2,SLC22A18,CCND2,GMPR,ITGB2,CDH4,MX1,...,CDKN2D,PSMB9,ZFP82,BIN2,SOWAHC,ARL14,KCTD12,LHB,PRMT1,IGIP
DATA.683665,8.418405,3.108346,3.202542,3.169560,3.657305,9.506000,3.019949,8.579302,4.090406,10.763135,...,5.942791,10.719714,5.733338,5.779168,2.960625,2.875492,3.263250,5.264080,4.677651,5.697826
DATA.683667,8.384469,3.157720,3.288323,3.250875,7.147396,8.888872,7.729681,3.410079,9.935629,2.872464,...,7.881910,5.660218,6.856965,3.054499,6.515636,2.961698,3.204516,4.882622,4.497861,6.156337
DATA.684052,8.860598,3.867216,11.630509,2.811466,6.257794,3.107823,3.541739,5.445975,5.639173,2.948423,...,6.110756,5.967821,6.320678,3.113162,6.973525,3.102612,3.167568,4.527282,4.477633,5.892460
DATA.684057,9.405991,5.940434,9.510553,3.025210,3.619437,5.924566,5.540122,4.157251,5.349462,3.007122,...,6.656717,4.057070,7.095704,3.066957,7.150156,2.913979,4.024446,4.069318,4.508922,7.254817
DATA.684059,8.871912,3.145452,10.057207,3.168384,5.456578,7.344971,5.913958,3.740122,3.314965,5.795148,...,5.347125,7.250015,6.617563,2.883226,7.244060,3.004077,3.409099,4.134250,4.488666,6.882576

In [67]:
df_bulk_humano_ordenado.to_csv("bulk_2100_humano.csv")

In [68]:
labels = pd.read_csv("/home/franciscojavier/Escritorio/TFG/scDEAL/data/ALL_label_binary_wf.csv", index_col=0)
print((labels.index == df_bulk_humano_ordenado.index).all())

True

# FILTRAMOS DATOS SINGLE CELL

In [69]:
genes_comunes.sort()

In [75]:
df_sc_final = Single_cell.loc[genes_comunes]

In [76]:
df_sc_final.head()

,RPI1_A3,RPI1_A4,RPI1_A5,RPI1_A6,RPI1_A7,RPI1_A8,RPI1_A9,RPI1_A10,RPI1_A11,RPI1_A12,...,RPI7_P13,RPI7_P14,RPI7_P15,RPI7_P16,RPI7_P17,RPI7_P18,RPI7_P19,RPI7_P20,RPI7_P21,RPI7_P22
gene_id,,,,,,,,,,,,,,,,,,,,,
ENSMUSG00000000001,3,8,5,11,7,1,4,4,3,1,...,0,4,7,0,2,5,4,1,0,2
ENSMUSG00000000049,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSMUSG00000000058,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
ENSMUSG00000000093,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSMUSG00000000154,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
df_sc_final.to_csv("sc_2100genes.csv")

In [80]:
# Cargar el bulk que usaste para entrenar
df_bulk = pd.read_csv("bulk_2100_humano.csv", index_col=0)
# Verificar orden
print(list(df_bulk_humano_ordenado.columns) == list(df_sc_final.index))

False

In [96]:
import scanpy as sc

adata = sc.read("/home/franciscojavier/Escritorio/TFG/scDEAL/save/adata/GSE110894_integrate_data_GSE110894_drug_I.BET.762_bottle_512_edim_256,128_pdim_128,64_model_DAETOP2_dropout_0.1_gene_F_lr_0.5_mod_new_sam_upsampling.h5ad")  # reemplaza <para> por el sufijo real del modelo

WARNING: Your filename has more than two extensions: ['.BET', '.762_bottle_512_edim_256,128_pdim_128,64_model_DAETOP2_dropout_0', '.1_gene_F_lr_0', '.5_mod_new_sam_upsampling', '.h5ad'].
Only considering the two last: ['.5_mod_new_sam_upsampling', '.h5ad'].
WARNING: Your filename has more than two extensions: ['.BET', '.762_bottle_512_edim_256,128_pdim_128,64_model_DAETOP2_dropout_0', '.1_gene_F_lr_0', '.5_mod_new_sam_upsampling', '.h5ad'].
Only considering the two last: ['.5_mod_new_sam_upsampling', '.h5ad'].

In [97]:
y_true = adata.obs['sensitive']             # Etiqueta verdadera
y_pred = adata.obs['sens_label'].astype(int)  # Etiqueta predicha por el modelo

In [98]:
from sklearn.metrics import classification_report, accuracy_score, f1_score, precision_score, recall_score

print("Accuracy:", accuracy_score(y_true, y_pred))
print("F1 Score:", f1_score(y_true, y_pred, average='weighted'))
print("Precision:", precision_score(y_true, y_pred, average='weighted'))
print("Recall:", recall_score(y_true, y_pred, average='weighted'))

# Reporte completo
print(classification_report(y_true, y_pred))

Accuracy: 0.9513742071881607
F1 Score: 0.9513884124211166
Precision: 0.9518193478096653
Recall: 0.9513742071881607
              precision    recall  f1-score   support

           0       0.94      0.96      0.95       685
           1       0.97      0.94      0.95       734

    accuracy                           0.95      1419
   macro avg       0.95      0.95      0.95      1419
weighted avg       0.95      0.95      0.95      1419

In [95]:
import scanpy as sc
import numpy as np
from sklearn.metrics import accuracy_score, f1_score

# Cargar ambos archivos
adata1 = sc.read("/home/franciscojavier/Escritorio/TFG/scDEAL/save/adata/GSE110894_integrate_data_GSE110894_drug_I.BET.762_bottle_512_edim_256,128_pdim_128,64_model_DAETOP2_dropout_0.1_gene_F_lr_0.5_mod_new_sam_upsampling.h5ad")  # <-- reemplaza por el nombre real
adata2 = sc.read("/home/franciscojavier/Escritorio/TFG/scDEAL/save/adata/GSE110894integrate_data_GSE110894_drug_I.BET.762_bottle_512_edim_256,128_pdim_128,64_model_DAE_dropout_0.1_gene_F_lr_0.5_mod_new_sam_upsampling.h5ad")

# Extraer predicciones
pred1 = adata1.obs['sens_label'].astype(int)
pred2 = adata2.obs['sens_label'].astype(int)

# Verificar que las células coinciden
assert all(adata1.obs.index == adata2.obs.index), "Las muestras no están alineadas"

# Comparar métricamente
accuracy = accuracy_score(pred1, pred2)
f1 = f1_score(pred1, pred2, average='weighted')

print("🎯 Comparación entre modelos")
print(f"Accuracy entre predicciones: {accuracy:.4f}")
print(f"F1-score entre predicciones: {f1:.4f}")

# (Opcional) ¿Son idénticos?
print("¿Son exactamente iguales?", np.array_equal(pred1, pred2))

WARNING: Your filename has more than two extensions: ['.BET', '.762_bottle_512_edim_256,128_pdim_128,64_model_DAETOP2_dropout_0', '.1_gene_F_lr_0', '.5_mod_new_sam_upsampling', '.h5ad'].
Only considering the two last: ['.5_mod_new_sam_upsampling', '.h5ad'].
WARNING: Your filename has more than two extensions: ['.BET', '.762_bottle_512_edim_256,128_pdim_128,64_model_DAETOP2_dropout_0', '.1_gene_F_lr_0', '.5_mod_new_sam_upsampling', '.h5ad'].
Only considering the two last: ['.5_mod_new_sam_upsampling', '.h5ad'].
WARNING: Your filename has more than two extensions: ['.BET', '.762_bottle_512_edim_256,128_pdim_128,64_model_DAE_dropout_0', '.1_gene_F_lr_0', '.5_mod_new_sam_upsampling', '.h5ad'].
Only considering the two last: ['.5_mod_new_sam_upsampling', '.h5ad'].
WARNING: Your filename has more than two extensions: ['.BET', '.762_bottle_512_edim_256,128_pdim_128,64_model_DAE_dropout_0', '.1_gene_F_lr_0', '.5_mod_new_sam_upsampling', '.h5ad'].
Only considering the two last: ['.5_mod_new_sam_upsampling', '.h5ad'].
🎯 Comparación entre modelos
Accuracy entre predicciones: 0.9796
F1-score entre predicciones: 0.9796
¿Son exactamente iguales? False